<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="assets/main.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;400;500;600&display=swap" rel="stylesheet">

  <title>Estadisticas-Fixture Mundial Qatar 2022</title>
</head>

<body >
  <header class="titulares header">
    <div class="logo"> <img src="assets/images/FIFA World Cup Qatar 2022.svg" alt="" width="100px" height="100px"></div>
    <div><h1 class="fixture-titulo">Estadisticas</h1></div>
    <nav class="menu">
        <ul>

            <li class="nav-bar" ><a href="/inicio">Inicio</a></li>
            <li class="nav-bar"><a href="/noticias/login">Noticias</a></li>
            <li class="nav-bar"><a href="/fixture">Fixture</a></li>
            

            <li class="nav-bar"><a href="/logout">Salir</a></li>
            <li><a th:href="@{/usuario/editar-perfil(id=__${session.usuariosession.idUsuario}__)}">Editar Perfil</a></li>
        </ul>

    </nav>
</header>

  <main class="container-tabla">
    <div class="container m-5 TABLE-GRUP-A">
		<table >
			<thead>
				<tr>
					<th scope="col">Nombre</th>
					<th scope="col">Goles a Favor</th>
					<th scope="col">Goles en Contra</th>
                                        <th scope="col">Puntaje</th>
				</tr>
			</thead>
			<tbody th:each="equipo,iteracion : ${perfil.fixture.listaEquipos}">
				<tr>
					<th scope="row" th:if="${iteracion.index == 0 }" th:text="${equipo.pais}"></th>
					<td  th:if="${iteracion.index == 0 }" th:text="${equipo.golesFavor}"></td>
					<td   th:if="${iteracion.index == 0 }" th:text="${equipo.golesContra}"></td>
                                        <td   th:if="${iteracion.index == 0 }" th:text="${equipo.puntaje}"></td>
				</tr>
                                <tr>
					<th scope="row" th:if="${iteracion.index == 1 }" th:text="${equipo.pais}"></th>
					<td  th:if="${iteracion.index == 1 }" th:text="${equipo.golesFavor}"></td>
					<td   th:if="${iteracion.index == 1 }" th:text="${equipo.golesContra}"></td>
                                        <td   th:if="${iteracion.index == 1 }" th:text="${equipo.puntaje}"></td>
				</tr>
                                <tr>
					<th scope="row" th:if="${iteracion.index == 2 }" th:text="${equipo.pais}"></th>
					<td  th:if="${iteracion.index == 2 }" th:text="${equipo.golesFavor}"></td>
					<td   th:if="${iteracion.index == 2 }" th:text="${equipo.golesContra}"></td>
                                        <td   th:if="${iteracion.index == 2 }" th:text="${equipo.puntaje}"></td>
				</tr>
                                <tr>
					<th scope="row" th:if="${iteracion.index == 3 }" th:text="${equipo.pais}"></th>
					<td  th:if="${iteracion.index == 3 }" th:text="${equipo.golesFavor}"></td>
					<td   th:if="${iteracion.index == 3 }" th:text="${equipo.golesContra}"></td>
                                        <td   th:if="${iteracion.index == 3 }" th:text="${equipo.puntaje}"></td>
				</tr>
			</tbody>
		</table>
	</div>
    
    <div class="container m-5 TABLE-GRUP-B">
		<table >
			<thead>
				<tr>
					<th scope="col">Nombre</th>
					<th scope="col">Goles a Favor</th>
					<th scope="col">Goles en Contra</th>
                                        <th scope="col">Puntaje</th>
				</tr>
			</thead>
			<tbody th:each="equipo,iteracion : ${perfil.fixture.listaEquipos}">
				<tr>
					<th scope="row" th:if="${iteracion.index == 4}" th:text="${equipo.pais}"></th>
					<td  th:if="${iteracion.index == 4 }" th:text="${equipo.golesFavor}"></td>
					<td   th:if="${iteracion.index == 4 }" th:text="${equipo.golesContra}"></td>
                                        <td   th:if="${iteracion.index == 4 }" th:text="${equipo.puntaje}"></td>
				</tr>
                                <tr>
					<th scope="row" th:if="${iteracion.index == 5}" th:text="${equipo.pais}"></th>
					<td  th:if="${iteracion.index == 5 }" th:text="${equipo.golesFavor}"></td>
					<td   th:if="${iteracion.index == 5 }" th:text="${equipo.golesContra}"></td>
                                        <td   th:if="${iteracion.index == 5 }" th:text="${equipo.puntaje}"></td>
				</tr>
                                <tr>
					<th scope="row" th:if="${iteracion.index == 6}" th:text="${equipo.pais}"></th>
					<td  th:if="${iteracion.index == 6 }" th:text="${equipo.golesFavor}"></td>
					<td   th:if="${iteracion.index == 6 }" th:text="${equipo.golesContra}"></td>
                                        <td   th:if="${iteracion.index == 6 }" th:text="${equipo.puntaje}"></td>
				</tr>
                                <tr>
					<th scope="row" th:if="${iteracion.index == 7}" th:text="${equipo.pais}"></th>
					<td  th:if="${iteracion.index == 7 }" th:text="${equipo.golesFavor}"></td>
					<td   th:if="${iteracion.index == 7 }" th:text="${equipo.golesContra}"></td>
                                        <td   th:if="${iteracion.index == 7 }" th:text="${equipo.puntaje}"></td>
				</tr>

			</tbody>
		</table>
	</div>
    
    <div class="container m-5 TABLE-GRUP-C">
		<table >
			<thead>
				<tr>
					<th scope="col">Nombre</th>
					<th scope="col">Goles a Favor</th>
					<th scope="col">Goles en Contra</th>
                                        <th scope="col">Puntaje</th>
				</tr>
			</thead>
			<tbody th:each="equipo,iteracion : ${perfil.fixture.listaEquipos}">
				<tr>
					<th scope="row" th:if="${iteracion.index == 8}" th:text="${equipo.pais}"></th>
					<td  th:if="${iteracion.index == 8 }" th:text="${equipo.golesFavor}"></td>
					<td   th:if="${iteracion.index == 8 }" th:text="${equipo.golesContra}"></td>
                                        <td   th:if="${iteracion.index == 8 }" th:text="${equipo.puntaje}"></td>
				</tr>
                                <tr>
					<th scope="row" th:if="${iteracion.index == 9}" th:text="${equipo.pais}"></th>
					<td  th:if="${iteracion.index == 9 }" th:text="${equipo.golesFavor}"></td>
					<td   th:if="${iteracion.index == 9 }" th:text="${equipo.golesContra}"></td>
                                        <td   th:if="${iteracion.index == 9 }" th:text="${equipo.puntaje}"></td>
				</tr>
                                <tr>
					<th scope="row" th:if="${iteracion.index == 10}" th:text="${equipo.pais}"></th>
					<td  th:if="${iteracion.index == 10 }" th:text="${equipo.golesFavor}"></td>
					<td   th:if="${iteracion.index == 10 }" th:text="${equipo.golesContra}"></td>
                                        <td   th:if="${iteracion.index == 10 }" th:text="${equipo.puntaje}"></td> 
				</tr>
                                <tr>
					<th scope="row" th:if="${iteracion.index == 11}" th:text="${equipo.pais}"></th>
					<td  th:if="${iteracion.index == 11 }" th:text="${equipo.golesFavor}"></td>
					<td   th:if="${iteracion.index == 11 }" th:text="${equipo.golesContra}"></td>
                                        <td   th:if="${iteracion.index == 11 }" th:text="${equipo.puntaje}"></td>
				</tr>

			</tbody>
		</table>
	</div>
    
    <div class="container m-5 TABLE-GRUP-D">
		<table >
			<thead>
				<tr>
					<th scope="col">Nombre</th>
					<th scope="col">Goles a Favor</th>
					<th scope="col">Goles en Contra</th>
                                        <th scope="col">Puntaje</th>
				</tr>
			</thead>
			<tbody th:each="equipo,iteracion : ${perfil.fixture.listaEquipos}">
				<tr>
					<th scope="row" th:if="${iteracion.index == 12}" th:text="${equipo.pais}"></th>
					<td  th:if="${iteracion.index == 12 }" th:text="${equipo.golesFavor}"></td>
					<td   th:if="${iteracion.index == 12 }" th:text="${equipo.golesContra}"></td>
                                        <td   th:if="${iteracion.index == 12}" th:text="${equipo.puntaje}"></td>
				</tr>
                                <tr>
					<th scope="row" th:if="${iteracion.index == 13}" th:text="${equipo.pais}"></th>
					<td  th:if="${iteracion.index == 13 }" th:text="${equipo.golesFavor}"></td>
					<td   th:if="${iteracion.index == 13 }" th:text="${equipo.golesContra}"></td>
                                        <td   th:if="${iteracion.index == 13}" th:text="${equipo.puntaje}"></td>
				</tr>
                                <tr>
					<th scope="row" th:if="${iteracion.index == 14}" th:text="${equipo.pais}"></th>
					<td  th:if="${iteracion.index == 14 }" th:text="${equipo.golesFavor}"></td>
					<td   th:if="${iteracion.index == 14 }" th:text="${equipo.golesContra}"></td>
                                        <td   th:if="${iteracion.index == 14 }" th:text="${equipo.puntaje}"></td>
				</tr>
                                <tr>
					<th scope="row" th:if="${iteracion.index == 15}" th:text="${equipo.pais}"></th>
					<td  th:if="${iteracion.index == 15 }" th:text="${equipo.golesFavor}"></td>
					<td   th:if="${iteracion.index == 15 }" th:text="${equipo.golesContra}"></td>
                                        <td   th:if="${iteracion.index == 15}" th:text="${equipo.puntaje}"></td>
				</tr>
			</tbody>
		</table>
	</div>
  
</main>


<footer class="titulares">
  <div>
      <img src="assets/images/phone (1).png" alt="" width="40px" height="40px">
      <p> Contacto:</p>
          <span>0800-555-334</span>
  </div>

  <div>
      <img src="assets/images/gmail.png" alt="" width="40px" height="40px">
      <p>  Gmail:</p>
      <span>infoFixture@gmail.com</span>
  </div>

  <div>
      <span><img src="assets/images/copyright (1).png" alt="" width="40px" height="40px">All Rights Reserved</span>
  </div>
</footer>
</body>

</html>